<h2><%= @restaurant.name %></h2>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> rating -<%= review.rating %></li>
  <% end %>
</ul>
<%#= link_to 'add new review', new_restaurant_review_path(@restaurant) %>
<br>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, placeholder: "review" %>
  <%= f.input :rating, placeholder: "0-5" %>
  <%= f.submit "Add" %>
<% end %>
<%= link_to 'back to list of restaurants', restaurants_path %>
